<link rel="stylesheet" href="/partialsStyle/header.css" />

<header>
  <div class="wrapper Header">
    <div class="Header__branding">
      <a href="/"><h3 class="Header__title">🍑 Frootie</h3></a>

      <nav class="Header__nav">
        <ul class="Header__nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/categories">Categories</a></li>
        </ul>
      </nav>
    </div>

    <form action="/products/search" method="GET">
      <input
        type="text"
        placeholder="Search products..."
        name="searchQuery"
        required
      />
      <button type="submit" class="Header__submit-button">Search</button>
    </form>
  </div>
</header>
