<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />

    <title>Grocery store</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <h1 class="Home__title">Welcome</h1>
    <p class="Home__welcome-message">
      Welcome to Grocery Store! Where all of your inventory needs are met. Here,
      you have full control over your products. You can add any product or
      category for your store, complete with color coding and custom images!
      Give it a try and be sure to leave a review in the app store!
    </p>

    <div class="Home__links-container">
      <a href="/products" class="Home__products-link"
        ><button>View products →</button></a
      >
      <a href="/categories" class="Home__products-link"
        ><button>View categories →</button></a
      >
    </div>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
