.AddProduct {
  padding: 3em 0 6em;

  .AddProduct__title {
    margin-bottom: 1.5em;
    font-size: var(--step-3);
    text-align: center;
  }

  form {
    margin: 0 auto;
    padding: 2.5em;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 1.5em;

    background-color: var(--background-form-color);
    border-radius: 1.25em;
    box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
  }

  label {
    font-size: var(--step--1);
    font-weight: 600;
    color: #2b2b2b;
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
  }

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.7em 0.9em;

    font-size: var(--step--1);
    border-radius: 0.6em;
    border: 2px solid var(--input-border-color);
    background-color: whitesmoke;
    transition: all 0.15s ease-in-out;

    &:focus {
      border-color: var(--input-border-color-focus);
      box-shadow: 0 0 0 3px var(--input-shadow);
    }

    &[type="color"] {
      padding: 0.3em;
      height: 3rem;
    }
  }

  button {
    margin-top: 1em;
    padding: 0.4em;

    font-size: var(--step-1);
    font-weight: 600;
    background-color: var(--button-orange);
    color: whitesmoke;
    border-radius: 0.75em;
    border: none;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 4px var(--button-orange);
      background-color: transparent;
      color: var(--button-orange);
    }
  }
}
