.EditProduct {
  padding: 3em 0 6em;

  .EditProduct__return-link {
    font-size: var(--step--1);
    color: #111;
  }

  .EditProduct__return-button {
    padding: 0.3em 0.6em;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: var(--main-color);
    border-radius: 0.3em;

    &:hover,
    &:focus {
      background-color: #ffad72;
    }
  }

  form {
    margin-top: 3em;

    display: flex;
    flex-direction: column;

    border-radius: 1em;
    border: 2px solid #ccc;

    @media (min-width: 710px) {
      flex-direction: row;
      justify-content: space-around;
      gap: 2em;
    }
  }

  .EditProduct__emoji {
    align-self: center;

    font-size: 7rem;

    @media (min-width: 900px) {
      font-size: 10rem;
    }

    @media (min-width: 1300px) {
      font-size: 15rem;
    }
  }

  .EditProduct__content {
    padding: 2em;

    flex-basis: 50%;
  }

  .EditProduct__title {
    margin-bottom: 0.2em;

    font-size: var(--step-4);
  }

  .EditProduct__category {
    display: inline-block;
    padding: 0.25em 1em;

    border-radius: 2em;
    color: whitesmoke;
  }

  .EditProduct__submit-button {
    padding: 0.3em 0.6em;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: var(--main-color);
    border-radius: 0.3em;

    &:hover,
    &:focus {
      background-color: #ffad72;
    }
  }

  .EditProduct__inputs-container {
    margin: 2.5em 0;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    /*  border: 2px solid purple; */
  }

  label {
    font-size: var(--step--1);
    font-weight: 600;
    color: #2b2b2b;
  }

  input,
  textarea {
    padding: 0.2em 0.4em;

    font-size: var(--step-0);
    border: 2px solid var(--input-border-color);
    border-radius: 0.4em;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: var(--input-border-color-focus);
      box-shadow: 0 0 0 3px var(--input-shadow);
    }
  }

  textarea {
    max-width: 800px;
    min-width: 100%;
    max-height: 200px;
  }
}
