.IndividualProduct {
  padding: 3em 0 6em;

  .IndividualProduct__return-link {
    font-size: var(--step--1);
    color: #111;
  }

  .IndividualProduct__return-button {
    padding: 0.3em 0.6em;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: var(--main-color);
    border-radius: 0.3em;

    &:hover,
    &:focus {
      background-color: #ffad72;
    }
  }

  .IndividualProduct__product-card {
    margin-top: 3em;

    display: flex;
    flex-direction: column;

    border-radius: 1em;
    border: 2px solid #ccc;

    @media (min-width: 710px) {
      flex-direction: row;
      justify-content: space-around;
      gap: 2em;
    }
  }

  .IndividualProduct__emoji {
    align-self: center;

    font-size: 7rem;

    @media (min-width: 900px) {
      font-size: 10rem;
    }

    @media (min-width: 1300px) {
      font-size: 15rem;
    }
  }

  .IndividualProduct__content {
    padding: 2em;

    flex-basis: 50%;
  }

  .IndividualProduct__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    align-items: center;
    gap: 0em;

    @media (min-width: 710px) {
      gap: 2em;
    }
  }

  .IndividualProduct__title,
  .IndividualProduct__price {
    font-size: var(--step-4);
  }

  .IndividualProduct__category {
    display: inline-block;
    padding: 0.25em 1em;
    margin-top: 0.5em;

    border-radius: 2em;
    color: whitesmoke;
  }

  .IndividualProduct__description {
    margin: 2em 0 0.5em 0;

    font-size: var(--step-0);
  }

  .IndividualProduct__quantity {
    margin-bottom: 2em;

    font-size: var(--step-1);
    font-weight: 700;
  }

  .IndividualProduct__actions {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1em;
  }

  .IndividualProduct__edit-button {
    padding: 0.3em 0.6em;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: var(--main-color);
    border-radius: 0.3em;
    color: #111;

    &:hover,
    &:focus {
      background-color: #ffad72;
    }
  }

  .IndividualProduct__delete-button {
    padding: 0.3em 0.6em;

    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: var(--main-color);
    border-radius: 0.3em;

    &:hover,
    &:focus {
      background-color: #ffad72;
    }
  }

  input {
    padding: 0.1em 0.2em;

    font-size: var(--step--1);
    border: 2px solid var(--input-border-color);
    border-radius: 0.4em;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:focus {
      border-color: var(--input-border-color-focus);
      box-shadow: 0 0 0 3px var(--input-shadow);
    }
  }
}
