@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&700&family=Work+Sans:wght@400&700&display=swap");

/*============================
RESETS=====================
==============================*/

/* Ensure consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Enable smooth scrolling for same-page links, 
   effective only for users without preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem; /* Offset for fixed headers or navbars */
  }
}

/* Enhance text rendering and set a global line-height for improved readability */
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color-scheme: light dark;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

/* Optimize line-height for headings to enhance title readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  text-wrap: balance; /* Distribute text evenly in headings */
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

/* Improve paragraph readability with controlled text wrapping and width */
p {
  text-wrap: pretty; /* Enhanced wrapping for paragraphs */
  max-width: 60ch; /* Max width based on character count for optimal reading */
  overflow-wrap: anywhere; /* Allow wrapping for long strings without spaces */
}

/* Remove default list styling for cleaner, customizable lists */
ul,
ol {
  list-style: none;
}

/* Set default styles for media elements for better control and responsiveness */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Normalize typography styles in form elements for consistency */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Normalize link styles for a clean slate */
a {
  text-decoration: none;
}

/* Indicate interactive elements with pointer cursor  */
input[type="checkbox"],
input[type="date"]::-webkit-calendar-picker-indicator,
select,
button,
a {
  cursor: pointer;
}

/*============================
GENERAL STYLES================
==============================*/
.wrapper {
  width: 80%;
  margin: 0 auto;
}

:root {
  /* COLORS */
  --main-color: #ffdac0;
  --button-orange: #ff6a00;
  --background-form-color: #ffdec7;
  --input-border-color: #ccc;
  --input-border-color-focus: #ffa500;
  --input-shadow: rgba(255, 165, 0, 0.2);

  /* FONT-SIZES */
  --step--2: clamp(0.6944rem, 0.6611rem + 0.1778vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7807rem + 0.2807vw, 1rem);
  --step-0: clamp(1rem, 0.9211rem + 0.4211vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0855rem + 0.6105vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.278rem + 0.8642vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.5027rem + 1.2015vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.7647rem + 1.6474vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.0695rem + 2.2339vw, 3.8147rem);
}

/*============================
ANIMATIONS====================
==============================*/
