<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <title>Grocery Store</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <h1>Add a category</h1>

    <form action="/categories/new" method="post">
      <label for="categoryName">Category:</label>
      <input type="text" id="categoryName" name="categoryName" required />

      <label for="labelColor">Label color:</label>
      <input type="color" id="labelColor" name="labelColor" required />

      <button type="submit">Submit</button>
    </form>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
