<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <title>Grocery Store</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>

    <h1>Add a product</h1>

    <form action="/products/new" method="post">
      <label for="productName">Product name:</label>
      <input type="text" id="productName" name="productName" required />

      <label for="productQuantity">Quantity:</label>
      <input
        type="number"
        id="productQuantity"
        name="productQuantity"
        required
      />

      <label for="productPrice">Price:</label>
      <input
        type="number"
        id="productPrice"
        name="productPrice"
        step="0.01"
        required
      />

      <label for="productDescription">Description:</label>
      <textarea
        id="productDescription"
        name="productDescription"
        maxlength="100"
      ></textarea>

      <label for="productEmoji">Emoji:</label>
      <input
        type="text"
        id="productEmoji"
        name="productEmoji"
        maxlength="3"
        required
      />

      <label for="productCategory">Category:</label>
      <select id="productCategory" name="productCategory">
        <% categoriesLinks.forEach((linkObject)=> { %>
        <option value="<%= linkObject.name %>"><%= linkObject.name %></option>
        <% }) %>
      </select>

      <button type="submit">Submit</button>
    </form>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
